<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{.title}}</title>
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/public/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" />
</head>

<body>
    <div class="page">
        <div class="header box">
            <a href="/">任务跟踪</a>
        </div>
        <div class="main box">
            <p>
                <h2>{{.message}}</h2>
            </p>
            <p>
                <a href="/">返回首页</a>
            </p>
        </div>
    </div>
</body>

</html>